IDI_ICON1 ICON DISCARDABLE "app.ico"

#include "windows.h"

#define CLC_VERSION 1,0,0,1
#define CLC_VERSION_STR "1.0.0.1"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION CLC_VERSION
 PRODUCTVERSION CLC_VERSION
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "Private Company"
            VALUE "FileDescription", "Collector Client"
            VALUE "FileVersion", CLC_VERSION_STR
            VALUE "InternalName", "clc"
            VALUE "LegalCopyright", "Copyright (C) 2016, Oleg Gushchenkov"
            VALUE "ProductName", "Collector System"
            VALUE "ProductVersion", CLC_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
