IDI_ICON1 ICON DISCARDABLE "client.ico"

#include "windows.h"

#define HELIOS_VERSION 1,0,0,1
#define HELIOS_VERSION_STR "1.0.0.1"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION HELIOS_VERSION
 PRODUCTVERSION HELIOS_VERSION
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "CLogic LLC"
            VALUE "FileDescription", "Helios System Client"
            VALUE "FileVersion", HELIOS_VERSION_STR
            VALUE "InternalName", "Helios"
            VALUE "LegalCopyright", "Copyright (C) 2014, CLogic LLC"
            VALUE "ProductName", "Helios System"
            VALUE "ProductVersion", HELIOS_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
